{% extends 'news/lay.html' %}

{% block title %}Выбор Теста{% endblock %}

{% block content %}
    <div class="features">
        <h1>Выбор Теста</h1>
        {% if news %}
        {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.content }}</p>
                <a href="{% url 'test-detail' el.id %}" class="btn btn-warning">про тест</a>
            </div>
        {% endfor %}
     {% else %}
      <p>Теста нет</p>
     {% endif %}
    </div>
{% endblock %}

   