{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор тестов</title>
    <link rel="stylesheet" href="{% static 'styless.css' %}">
</head>
<body> 
    <div class="intro">
        <video class="intro__video" autoplay muted loop>
            <source src="{% static 'main/img/video-bg.mp4' %}" type="video/mp4">
        </video>
            {% block content %} 
        <div class="sections-container">
            <div class="section">
                <img src="{% static 'main/img/people.jpeg' %}" alt="Картинка субкультур">
                <h3>Люди</h3>
                <p>К какой субкультуре вы бы относились исходя из этого теста? В тесте будут затронуты (Стиляги, Хиппи, Рокеры, Панки, Ролевики, Геймеры и гики, Спортивные фанаты, Анимешники, Хипстеры, E-boys и e-girls, Альтушки)</p>
                <a href="{% url 'test_people' %}">Пройти</a>
            </div>
    
            <div class="section">
                <img src="{% static 'main/img/time.jpg' %}" alt="Время">
                <h3>Время</h3>
                <p>Насколько хорошо вы знаете о времени? Этот тест поможет понять, как хорошо вы знаете о времени и как вы им распоряжаетесь.</p>
                <a href="{% url 'test_time' %}">Пройти</a>
            </div>
        
            <div class="section">
                <img src="{% static 'main/img/world.jpg' %}" alt="Мир">
                <h3>Мир</h3>
                <p>Куда мы движемся? О чём вы знаете, чего не знают другие? В какую сторону движется наш мир? Именно об этом вы узнаете в этом тесте.</p>
                <a href="{% url 'test_world' %}">Пройти</a>
            </div>
        </div>
    
        <div class="sections-container">
            <div class="section">
                <img src="{% static 'main/img/materia.jpg' %}" alt="материальное">
                <h3>Всё что материально</h3>
                <p>Вы когда-нибудь задумывались, насколько интересные вещи нас окружают? Речь в этом тесте пойдёт не только о материальных ценностях, но и о многом другом.</p>
                <a href="{% url 'test_material' %}">Пройти</a>
            </div>
        
            <div class="section">
                <img src="{% static 'main/img/imagination.jpg' %}" alt="воображаймое">
                <h3>Всё что воображаймо</h3>
                <p>Теперь проверим ваш внутренний мир. О чём можно только мечтать? Что приносит эмоции и приводит в чувства? Не говорите "нет" тому, чего нет.</p>
                <a href="{% url 'test_imagination' %}">Пройти</a>
            </div>
        
            <div class="section">
                <img src="none" alt="Здесь может быть ваша картинка">
                <h3>Здесь может быть ваш тест</h3>
                <p>Здесь может быть ваше описание</p>
                <a href="#">Скоро можно пройти</a>
            </div>
        </div>
    {% endblock %}
    <div class="intro__content">
<div>
    </body>
    </html>